:root{
    --color1:#F7E42D;
    --color2:#84A9F9;
    --color3:#C520F7;
    --color4:#F74420;
    --color5:#F9EC77;
    --color6:#eee;
    --color7:#333;

    font-size: min(2vw, 20px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{padding:0; margin:0;
background-color: #F9EC77;
    position: relative;}

.flexbox{
    display:flex; align-items: center;
}

/*HEADER*/
.header{
    padding:1vw 5vw 1vw 1vw;
    text-align: center;
    display:flex;
    background-color: var(--color7);
    color:var(--color1)
}
.logo img{
    width:min(75px,5vw);
    margin:0 3vw;
    filter: invert(100%) sepia(63%) saturate(2585%) hue-rotate(334deg) brightness(105%) contrast(94%);
}
.loginOptions{margin-left: auto; gap:5vw; font-weight: 300;}

/*NAVBAR*/
.nav{
    position: fixed;
    bottom:0px; right:0px;
    padding: 1vw;
    gap:5vw;
    justify-content:flex-end;
    background-color:#f9ec7793;
    width:100%;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px gray;
}
.navOption img{
    height:5vh;
}
.contact{
    gap:5vw;
}
.searchForm{margin:0;}
.searchForm img{
    border-radius: 50%;
    background-color: var(--color6);
}
.searchForm input, .searchForm img{
    height: 3vh; margin:0 1vw; border:none;
    padding:1vw;
}

/*BODY*/
.shelf{
    padding-top: 3vmax;
    padding-bottom:15vh;
    justify-content: center;
    display:grid; gap:3vmax;
    row-gap: 5vmax;
    grid-template-columns: 20vw 20vw 20vw 20vw;
}
.bookCard img{width:5vw;}
.bookImg{width:10vw !important;}
.bookCard{
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    align-items: center; justify-content: center;
    padding:1vw;
    border-radius: 20px;
    border-left: 2px solid var(--color7);
    border-top: 2px solid var(--color7);
    background-color:var(--color2);
    box-shadow: 5px 5px 10px var(--color7);
}
.lastCard{background-color: var(--color6);}
.title{
    font-size: 2rem;
    
}
