:root {
  --color1: #f7e42d;
  --color2: #84a9f9;
  --color3: #c520f7;
  --color4: #f74420;
  --color5: #f9ec77;
  --color6: #eee;
  --color7: #333;

  font-size: min(5vw, 20px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color6);
  position: relative;
}

.flexbox {
  display: flex;
  align-items: center;
}
.link:hover {
  cursor: pointer;
}

/*Messages*/
.notiPanel{
  margin: 0;
  padding: 0;
  padding-top: 5vh;
  color: var(--color2);
  width: 100%;
  height: 70%;
  backdrop-filter: blur(20px);
  position: absolute;
  display: block;
}
.msg {
  display: block;
}
.form {
  display: none;
}
.notiPanelSub {
  border-radius: 5vw;
  border: 3px solid var(--color2);
  margin: auto;
  background-color: white;
  text-align: center;
  width: 50vw;
  padding: 1vmax 0;
}
.logForm {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
}
.logForm label {
  text-align: right;
  font-size: 1.5vw;
}
.logForm input,
.logForm button {
  border: 1px solid var(--color2);
  margin-right: 6vw;
}
.logForm button {
  border: none;
  height: 5vh;
  background-color: var(--color5);
  grid-column: 1/3;
  color: var(--color7);
  font-weight: bold;
  margin-left: 6vw;
  cursor:pointer;
}
/*HEADER*/
.header {
  padding: 1vw 5vw 1vw 1vw;
  text-align: center;
  display: flex;
  background-color: var(--color7);
  color: var(--color1);
}
.logo img {
  width: min(75px, 5vw);
  margin: 0 3vw;
  filter: invert(100%) sepia(63%) saturate(2585%) hue-rotate(334deg)
    brightness(105%) contrast(94%);
}
.loginOptions {
  margin-left: auto;
  gap: 5vw;
  font-weight: 300;
}

/*NAVBAR*/
.nav {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 1vw 2vw;
  gap: 5vw;
  justify-content: flex-end;
  background-color: #f9ec7793;
  width: 100%;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px gray;
}
.navOption img {
  height: 5vh;
}
.contact {
  gap: 5vw;
}
.searchForm {
  margin: 0;
}
.searchForm img {
  border-radius: 50%;
  background-color: var(--color6);
}
.searchForm input,
.searchForm img {
  height: 3vh;
  margin: 0 1vw;
  border: none;
  padding: 1vw;
}

/*BODY*/
.shelf {
  padding-top: 3vmax;
  padding-bottom: 15vh;
  justify-content: center;
  display: grid;
  gap: 3vmax;
  row-gap: 5vmax;
  grid-template-columns: 20vw 20vw 20vw 20vw;
}
.bookCard img {
  width: 5vw;
}
.bookImg {
  width: 12vw !important;
}
.bookCard {
  font-family: "Courier New", Courier, monospace;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  border-radius: 20px;
  border-left: 2px solid var(--color7);
  border-top: 2px solid var(--color7);
  background-color: var(--color5);
  box-shadow: 5px 5px 10px var(--color7);
}
.selectedBook{
  color:var(--color7);
  display:block;
  width:30vw;
  height:50vh;
  margin:auto;
  grid-column: 2/4;
}
/*When a book is selected:
- add 'selectedBook' class into that book;
- 'display:none' all bookcards;
- add 'notiPanel' class to the 'shelf'
*/
.lastCard {
  background-color: var(--color6);
  cursor:pointer;
}
.title {
  font-size: 2rem;
}
